/* Main element*/
main{
  
  background-color: #F5F5F5;
  height: 500px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
/* Dice container shapin it into grid*/
.dice-container
{
  display: grid;
  grid-template:auto auto / repeat(5,1fr);
  gap: 20px;
}

main button
{
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #5035FF;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1.2rem;
}

